<div *ngIf="dataLoaded; else skeleton">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/categories">Все устройства</a></li>
      <li class="breadcrumb-item">
        <a [routerLink]="'/category/'+device.category!.slug">{{device.category!.title}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">{{device.title}}</li>
    </ol>
  </nav>
  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img class="img-fluid" src="{{device.fullImage}}" alt="no">
      <div class="text-center mt-5">
        <app-book-button type="lg" [device]="device"></app-book-button>
      </div>
    </div>
    <div class="col-lg-8 col-sm-12 col-md-6">
      <div class="h1">{{device.title}}</div>
      <hr/>
      <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12">
          <ul *ngFor="let spec of device.specs" class="list-group list-group-horizontal mt-1">
            <li class="list-group-item fw-bold">{{ spec.title }}</li>
            <li class="list-group-item">{{spec.details}}</li>
          </ul>
        </div>
        <div class="col-lg-7 col-md-12 col-sm-12 mt-sm-3 mt-md-3 mt-lg-0">
          <p class="">{{device.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div class="loading-skeleton">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a>Все устройства</a></li>
        <li class="breadcrumb-item"><a>Заголовок</a>
        </li>
        <li class="breadcrumb-item" aria-current="page">Заголовое</li>
      </ol>
    </nav>
    <div class="row mt-5">
      <div class="col-4">
        <img class="img-fluid" src="/assets/skeleton_big.jpg" alt="no">
      </div>
      <div class="col">
        <h1>Устройство</h1>
        <app-book-button [device]="fakeDevice"></app-book-button>
        <hr/>
        <div class="row">
          <div class="col">
            <ul *ngFor="let spec of [1, 2, 3, 4]" class="list-group list-group-horizontal mt-1">
              <li class="list-group-item fw-bold">Заголовок</li>
              <li class="list-group-item">Значение</li>
            </ul>
          </div>
          <div class="col">
            <p class="">Описание</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
