<div *ngIf="isProfileLoaded; else skeleton_profile">
  <div class="row">
    <div class="col-1">
      <img [src]="currentUser.avatarUrl" class="img-thumbnail rounded" alt="Аватар">
    </div>
    <div class="col-11">
      <div class="h1">{{ currentUser.name }} {{ currentUser.secondName }}</div>
      <div class="badge bg-primary text-wrap">{{ currentUser.email }}</div>
    </div>
  </div>
  <div class="h2 mt-4">Забронированные устройства</div>
</div>
<hr/>
<div class="row mt-3" *ngIf="isCardsLoaded; else skeleton_cards">
  <div *ngFor="let booked of currentCards" class="col-sm-12 col-md-6 col-lg-3">
    <app-booked-card [booked]="booked" [remove]="remove"></app-booked-card>
  </div>
</div>

<div class="h2 mt-4">История бронирования</div>
<hr/>
<div class="row mt-3" *ngIf="isCardsLoaded; else skeleton_cards">
  <div *ngFor="let book of deviceHistory" class="col-sm-12 col-md-6 col-lg-3">
    <div class="card">
      <img class="card-img-top" [routerLink]="'/device/'+book.device.slug" [src]="book.device.croppedImage" alt="no"/>
      <div class="card-body">
        <a class="card-title h4 text-dark" [routerLink]="'/device/'+book.device.slug">{{ book.device.title }}</a>
        <p class="text-secondary">{{ book.fromDate | date : 'dd.MM.yyyy' }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #skeleton_profile>
  <div class="loading-skeleton">
    <div class="row">
      <div class="col-1">
        <img [src]="currentUser.avatarUrl" class="img-thumbnail rounded" alt="Аватар">
      </div>
      <div class="col-11">
        <h1 class="h1">ФИ</h1>
        <h2 class="">Почта</h2>
      </div>
    </div>
    <hr/>
    <h2 class="mt-4">Забронированные устройства</h2>
  </div>
</ng-template>
<ng-template #skeleton_cards>
  <div class="row mt-3 loading-skeleton">
    <div *ngFor="let device of [1, 2, 3, 4]" class="col-sm-12 col-md-6 col-lg-3">
      <div class="card">
        <img class="card-img-top" src="/assets/skeleton.png" alt="no"/>
        <div class="card-body">
          <h4 class="card-title">IPhone 15</h4>
          <p class="card-text">-</p>
          <p class="card-text">-</p>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-sm btn-danger" disabled>
              Завершить бронь
            </button>
            <button type="button" class="btn btn-sm btn-primary" disabled>
              Продлить бронь
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
